image sdcard.img {
	hdimage {
		gpt = true
	}

	partition fsbl_0 {
		image = "FSBL.bin"
        in-partition-table = "no"
		partition-type-uuid = e9edf4bc-7e2c-4d7d-811a-392f8704618c
		offset = 128K
		size = 256K
	}
	partition fsbl_1 {
		image = "FSBL.bin"
        in-partition-table = "no"
		partition-type-uuid = 871d0bc2-b184-4d25-bfdc-ca2acb53cb2d
		offset = 384K
		size = 256K
	}

	partition sbi {
		image = "opensbi-fit.itb"
		partition-type-uuid = f035bab3-8b1f-4659-85fe-fe4f2b41451e
		offset = 640K
		size = 256K
	}

	partition uboot {
		image = "uboot-fit.itb"
		partition-type-uuid = 1ed6113a-6fc4-47f8-8059-29005c7b0d47
		offset = 1M
		size = 3M
	}
	
	partition boot {
		# partition-type = 0xC
		partition-type-uuid = eccae9c3-8a51-4a39-96d5-8584d1611c35
		image = "bootfs.img"
		offset = 4M
		size = 128M
		bootable = true
	}

	partition root {
		# partition-type = 0x83
		partition-type-uuid = 64e69acb-f39a-400b-8741-d339335d086f
		image = "rootfs.ext4"
		offset = 132M
	}
}
