// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2025 Spacemit, Inc */

#include "k3.dtsi"
#include "k3-rdomain.dtsi"
#include "k3-pinctrl.dtsi"
#include "k3_opp_table.dtsi"
#include "k3-dp1.dtsi"
/ {
	model = "spacemit k3 deb1 board";
	compatible = "spacemit,k3-deb1";
	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <24000000>;
	};
/*
	p12v: p12v {
		compatible = "regulator-fixed";
		regulator-name = "p12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		status = "disabled";
	};

	aux_5v: aux_5v {
		compatible = "regulator-fixed";
		regulator-name = "aux_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&p12v>;
		status = "disabled";
	};

	aux_3v3: aux_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "aux_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&aux_5v>;
		status = "disabled";
	};

	p1v8: p1v8 {
		compatible = "regulator-fixed";
		regulator-name = "p1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&p12v>;
		status = "disabled";
	};

	p3v3: p3v3 {
		compatible = "regulator-fixed";
		regulator-name = "p3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&p12v>;
		status = "disabled";
	};
*/
	chosen {
                bootargs = "earlycon=sbi console=ttyS0,115200 clk_ignore_unused nohlt loglevel=8 random.trust_bootloader=1";
                rng-seed = <0x25d69b2 0xff555073 0xd23238ea 0x57aa5455 0x792478ed 0xa744f28e 0x6ba4fc54 0xa2bf20fc>;
		stdout-path = "serial0:115200";
	};

	rfkill-pcie-wlan {
		compatible = "rfkill-gpio";
		label = "rfkill-pcie-wlan";
		pinctrl-names = "default";
		pinctrl-0 = <&wlan_en_cfg>;
		radio-type = "wlan";
		shutdown-gpios = <&gpio 1 3 GPIO_ACTIVE_HIGH>;
	};

	rfkill-usb-bt {
		compatible = "rfkill-gpio";
		label = "rfkill-usb-bt";
		pinctrl-names = "default";
		pinctrl-0 = <&bt_en_cfg>;
		radio-type = "bluetooth";
		shutdown-gpios = <&gpio 0 30 GPIO_ACTIVE_HIGH>;
	};

	rfkill-usb-wwan {
		compatible = "rfkill-gpio";
		label = "m.2 WWAN"; /* B-Key */
		radio-type = "wwan";
		/* MODULE_TURN_ON_1V8 (FC_PWROFF#) */
		shutdown-gpios = <&gpio 0 18 GPIO_ACTIVE_HIGH>;
		/* WWAN_RESET#_1V8 (WWAN1V8_RST#) */
		reset-gpios = <&gpio 0 19 GPIO_ACTIVE_HIGH>;
		/* GPIO84 for CPU_W_DISABLE#1 (WWAN_DIS#) is no needed*/
	};

	fan0: pwm-fan {
		compatible = "pwm-fan";
		pwms = <&cros_ec_pwm 0>;
		/*
		* Cooling states (0-6) -> PWM duty (0-255)
		* Full speed is treated as ~6000RPM.
		* Max speed limited to ~78% (200/255)
		* Linear distribution from 0 to 200
		*/
		cooling-levels = <0 33 67 100 133 167 200>;
		#cooling-cells = <2>;
	};
};

&resmem {
	/* global autoconfigured region for contiguous allocations */
	cmamem: linux,cma {
		compatible = "shared-dma-pool";
		reusable;
		size = <0 0x20000000>;
		alloc-ranges = <1 0x40000000 0 0x20000000>;
		linux,cma-default;
	};
};

&pinctrl {
	gmac0-cfg {
		/delete-node/ gmac0-2-pins;
		/delete-node/ gmac0-4-pins;
		/delete-node/ gmac0-5-pins;

		gmac0-0-pins {
			power-source = <1800>;
		};

		gmac0-1-pins {
			power-source = <1800>;
		};

		gmac0-3-pins {
			power-source = <1800>;
		};

		gmac0-6-pins {
			pinmux = <K3_PADCONF(15, 0)>;

			bias-disable;
			drive-strength = <25>;
			power-source = <1800>;
		};
	};

	i2c2-1-cfg {
		i2c2-0-pins {
			power-source = <1800>;
		};
	};

	i2c1-3-cfg {
		i2c1-0-pins {
			power-source = <3300>;
		};
	};

	usb30_drd_dir-0-cfg {
		usb30_drd_dir-pins {
			power-source = <1800>;
		};
	};

	fusb301_cfg: fusb301-cfg {
		fusb301-0-pins {
			pinmux = <K3_PADCONF(85, 0)>;

			bias-pull-up;
			drive-strength = <25>;
			power-source = <1800>;
		};
	};

	qspi-cfg {
		/delete-node/ qspi-1-pins;
		qspi-0-pins {
			power-source = <1800>;
		};
	};

	pcie0-1-cfg {
		pcie0-0-pins {
			pinmux = <K3_PADCONF(79, 5)>,
				 <K3_PADCONF(81, 5)>;

			bias-pull-up;
			drive-strength = <33>;
			power-source = <1800>;
		};
	};

	pcie2-1-cfg {
		pcie2-0-pins {
			pinmux = <K3_PADCONF(25, 4)>,	/* pcie2 perst */
				 <K3_PADCONF(27, 4)>;	/* pcie2 clkreq */

			drive-strength = <38>;
			power-source = <3300>;
		};
	};

	pcie4_0_cfg: pcie4-0-cfg {
		pcie4-0-pins {
			pinmux = <K3_PADCONF(76, 5)>,	/* pcie4 perst */
				 <K3_PADCONF(77, 5)>,	/* pcie4 wake */
				 <K3_PADCONF(78, 5)>;	/* pcie4 clkreq */

			bias-pull-up;			/* normal bias disable */
			drive-strength = <33>;		/* DS8 */
			power-source = <1800>;
		};
	};

	wlan_en_cfg: wl-en-cfg {
		wlan-en-pins {
			pinmux = <K3_PADCONF(35, 0)>;

			bias-pull-up;
			drive-strength = <38>;
			power-source = <3300>;
		};
	};

	bt_en_cfg: bt-en-cfg {
		bt-en-pins {
			pinmux = <K3_PADCONF(30, 0)>;

			bias-pull-up;
			drive-strength = <38>;
			power-source = <3300>;
		};
	};

	dp1_1_cfg: dp1-1-cfg {
		dp1-0-pins {
			pinmux = <K3_PADCONF(24, 6)>;	/* dp1 hpd */

			bias-disable;			/* normal bias disable */
			drive-strength = <25>;		/* DS8 */
			power-source = <3300>;
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_0_cfg>;
	status = "okay";
};

&qspi {
	pinctrl-names = "default";
	pinctrl-0 = <&qspi_cfg>;
	spacemit,qspi-tx-dma = <0>;
	spacemit,qspi-rx-dma = <0>;
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <26500000>;
		m25p,fast-read;
		broken-flash-reset;
		status = "okay";
	};
};

&usb2_host_u2phy {
	status = "okay";
};

&usb2_host {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	hub@1 {
		/* FE1.1S USB2.0 hub (4 ports) */
		compatible = "usb5e3,608";
		reg = <1>;
	};
};

&usb3_porta_u2phy {
	status = "okay";
};

&usb3_porta_u3phy {
	/* dual phy selection is auto detect from GPIO86(SS_SW_3V3) */
	pinctrl-names = "default";
	pinctrl-0 = <&usb30_drd_dir_0_cfg>;
	status = "okay";
};

&usb3_porta {
	dr_mode = "otg";
	usb-role-switch;
	role-switch-default-mode = "peripheral";
	monitor-vbus;
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0x0>;
			porta_role_switch: endpoint {
				remote-endpoint = <&fusb301_ep>;
			};
		};
	};
};

&usb3_portb_u2phy {
	status = "okay";
};

&usb3_portb {
	/* M2.B Socket, only enable USB2 phy */
	/delete-property/ phys;
	/delete-property/ phy-names;
	maximum-speed = "high-speed";
	phys = <&usb3_portb_u2phy>;
	phy-names = "usb2-phy";
	status = "disabled";
	status = "okay";
};

&usb3_portc_u2phy {
	status = "disabled";
};

&usb3_portc_u3phy {
	status = "disabled";
};

&usb3_portc {
	/* Bluetooth, only enable USB2 phy */
	/delete-property/ phys;
	/delete-property/ phy-names;
	maximum-speed = "high-speed";
	phys = <&usb3_portc_u2phy>;
	phy-names = "usb2-phy";
	status = "disabled";
};

&usb3_portd_u2phy {
	status = "okay";
};

&usb3_portd_u3phy {
	status = "okay";
};

&usb3_portd {
	/* TypeC (USB3/DP/Power) (with ANX7447 chip) */
	status = "okay";
};

&ufshc {
	status = "okay";
};

&pcie0_rc {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie0_1_cfg>;

	max-link-speed = <3>;
	num-lanes = <4>;
	status = "okay";
};

&pcie2_rc {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_1_cfg>;

	status = "okay";
};

&pcie4_rc {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie4_0_cfg>;

	max-link-speed = <1>;
	status = "okay";
};

&ec {
	status = "okay";
	interrupt-parent = <&gpio>;
	interrupts = <1 11 IRQ_TYPE_EDGE_RISING>;

	i2c_tunnel1: i2c-tunnel@1 {
		compatible = "google,cros-ec-i2c-tunnel";
		#address-cells = <1>;
		#size-cells = <0>;
		google,remote-bus = <1>;
	};

	i2c_tunnel4: i2c-tunnel@4 {
		compatible = "google,cros-ec-i2c-tunnel";
		#address-cells = <1>;
		#size-cells = <0>;
		google,remote-bus = <4>;
	};

	/* EC PWM provider for fan control */
	cros_ec_pwm: pwm {
		compatible = "google,cros-ec-pwm";
		#pwm-cells = <1>;
	};
};

&eth0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_cfg>;

	max-speed = <1000>;
	tx-fifo-depth = <8192>;
	rx-fifo-depth = <8192>;
	snps,tso;
	snps,force_sf_dma_mode;
	phy-mode = "rgmii";
	phy-handle = <&rgmii0>;
	snps,reset-gpios = <&gpio 0 15 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <2 10000 10000>;

	spacemit,wake-irq-enable;

	spacemit,clk-tuning-enable;
	spacemit,clk-tuning-by-delayline;
	spacemit,tx-phase = <73>;
	spacemit,rx-phase = <61>;

	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		rgmii0: phy@0 {
			compatible = "ethernet-phy-id001c.c916";
			reg = <0x1>;
			device_type = "ethernet-phy";
		};
	};
};

&thermal_zones {
	thermal_top {
		polling-delay = <1000>;
		polling-delay-passive = <500>;
		thermal-sensors = <&thermal 0>;

		trips {
			thermal_top_trip0: thermal_top-trip0 {
				temperature = <45000>;
				hysteresis = <2000>;
				type = "active";
			};
		};
	};

	thermal_vpu {
		polling-delay = <1000>;
		polling-delay-passive = <500>;
		thermal-sensors = <&thermal 2>;

		trips {
			thermal_vpu_trip0: thermal_vpu-trip0 {
				temperature = <60000>;
				hysteresis = <2000>;
				type = "active";
			};
		};
	};

	thermal_gpu {
		polling-delay = <1000>;
		polling-delay-passive = <500>;
		thermal-sensors = <&thermal 3>;

		trips {
			thermal_gpu_trip0: thermal_gpu-trip0 {
				temperature = <60000>;
				hysteresis = <2000>;
				type = "active";
			};
		};
	};

	thermal_cluster0 {
		polling-delay = <1000>;
		polling-delay-passive = <500>;
		thermal-sensors = <&thermal 4>;

		trips {
			thermal_cluster0_trip0: thermal_cluster0-trip0 {
				temperature = <45000>;
				hysteresis = <5000>;
				type = "active";
			};

			thermal_cluster0_trip1: thermal_cluster0-trip1 {
				temperature = <55000>;
				hysteresis = <5000>;
				type = "passive";
			};

			thermal_cluster0_trip2: thermal_cluster0-trip2 {
				temperature = <65000>;
				hysteresis = <5000>;
				type = "passive";
			};

			thermal_cluster0_trip3: thermal_cluster0-trip3 {
				temperature = <75000>;
				hysteresis = <5000>;
				type = "passive";
			};

			thermal_cluster0_trip4: thermal_cluster0-trip4 {
				temperature = <95000>;
				hysteresis = <5000>;
				type = "passive";
			};

			thermal_cluster0_trip5: thermal_cluster0-trip5 {
				temperature = <105000>;
				hysteresis = <5>;
				type = "critical";
			};
		};

		cooling-maps {
			map0 {
				trip = <&thermal_cluster0_trip0>;
				/* Avoid too-low PWM that may not start the fan */
				cooling-device = <&fan0 1 1>;
			};

			map1 {
				trip = <&thermal_cluster0_trip1>;
				cooling-device = <&fan0 3 4>;
			};

			map2 {
				trip = <&thermal_cluster0_trip2>;
				cooling-device = <&fan0 5 5>;
			};

			map3 {
				trip = <&thermal_cluster0_trip3>;
				cooling-device = <&fan0 6 6>;
			};
		};
	};

	thermal_cluster1 {
		polling-delay = <1000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&thermal 5>;

		trips {
			thermal_cluster1_trip0: thermal_cluster1-trip0 {
				temperature = <40000>;
				hysteresis = <5000>;
				type = "passive";
			};
		};
	};

	thermal_cluster2 {
		polling-delay = <1000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&thermal 6>;

		trips {
			thermal_cluster2_trip0: thermal_cluster2-trip0 {
				temperature = <40000>;
				hysteresis = <5000>;
				type = "passive";
			};
		};
	};

	thermal_cluster3 {
		polling-delay = <1000>;
		polling-delay-passive = <250>;
		thermal-sensors = <&thermal 7>;

		trips {
			thermal_cluster7_trip0: thermal_cluster7-trip0 {
				temperature = <40000>;
				hysteresis = <5000>;
				type = "passive";
			};
		};
	};
};

&rpmi_regulator {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8_cfg_rcpu>;

	pvin: pvin {
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	edcdc2: edcdc2 {
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	edcdc1: edcdc1 {
		regulator-min-microvolt = <534000>;
		regulator-max-microvolt = <1000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	p3v3: p3v3 {
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	p1v8: p1v8 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dcdc1: dcdc1 {
		regulator-min-microvolt = <1050000>;
		regulator-max-microvolt = <1050000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dcdc3: dcdc3 {
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dcdc4: dcdc4 {
		regulator-min-microvolt = <2100000>;
		regulator-max-microvolt = <2100000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dcdc5: dcdc5 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dcdc6: dcdc6 {
		regulator-min-microvolt = <500000>;
		regulator-max-microvolt = <600000>;
		regulator-always-on;
		regulator-boot-on;
	};

	aldo1: aldo1 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	aldo2: aldo2 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	aldo3: aldo3 {
		regulator-min-microvolt = <500000>;
		regulator-max-microvolt = <3400000>;
	};

	aldo4: aldo4 {
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dldo1: dldo1 {
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dldo2: dldo2 {
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dldo3: dldo3 {
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dldo4: dldo4 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dldo5: dldo5 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dldo6: dldo6 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	dldo7: dldo7 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	pwr_x100: pwr_x100 {
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	pwr_a100: pwr_a100 {
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	pwr_ext: pwr_ext {
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_3_cfg>;
	status = "okay";

	tcpc@25 {
		compatible = "onsemi,fusb301";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&fusb301_cfg>;
		irq-gpios = <&gpio 2 21 GPIO_ACTIVE_LOW>;
		wakeup-source;
		status = "okay";

		typec_0: connector@0 {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			typec-power-opmode = "default";
			pd-disable;

			ports {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				port@0 {
					reg = <0x0>;
					fusb301_ep: endpoint {
						remote-endpoint = <&porta_role_switch>;
					};
				};
			};
		};
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_1_cfg>;
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		read-only;
		status = "okay";

		nvmem-layout {
			compatible = "onie,tlv-layout";

			product_name: product-name {
			};
		};
	};
};

/*
&i2c8 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8_cfg>;
	status = "disabled";

	p1@41 {
		compatible = "spacemit,p1";
		reg = <0x41>;
		status = "disabled";

		vcc-supply = <&aux_5v>;

		regulators {
			compatible = "spacemit-p1-regulator";

			buck1: buck1 {
				regulator-min-microvolt = <1050000>;
				regulator-max-microvolt = <1050000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck2: buck2 {
				regulator-min-microvolt = <1050000>;
				regulator-max-microvolt = <1050000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck3: buck3 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <800000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck4: buck4 {
				regulator-min-microvolt = <2100000>;
				regulator-max-microvolt = <2100000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck5: buck5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
				regulator-boot-on;
			};

			buck6: buck6 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <500000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
				regulator-boot-on;
			};

			aldo1: aldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			aldo2: aldo2 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			aldo3: aldo3 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			aldo4: aldo4 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			dldo1: dldo1 {
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};

			dldo2: dldo2 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-always-on;
				regulator-boot-on;
			};

			dldo3: dldo3 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			dldo4: dldo4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
			};

			dldo5: dldo5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			dldo6: dldo6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			dldo7: dldo7 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};

	mpq8655: mpq8655@30 {
		compatible = "spacemit,mpq8655";
		reg = <0x30>;

		vcc-supply = <&p12v>;

		regulators {
			compatible = "spacemit,regulator,mpq8655";

			edcdc1: edcdc1 {
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1000000>;
				regulator-ramp-delay = <10>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
};
*/

&dpu1_crtc0 {
	memory-region = <&dpu_resv1>;
	status = "okay";
};

&dp1 {
	pinctrl-names = "default";
	pinctrl-0 = <&dp1_1_cfg>;
	status = "okay";
};

&adma3 {
	status = "okay";
};

&ri2s3 {
	status = "okay";
};

&sound_card_dp1 {
	status = "okay";
	playback-only;
	simple-audio-card,mclk-fs = <512>;
	simple-audio-card,dai-link@0 {
		format = "left_j";
		frame-master = <&dp1_link_cpu>;
		bitclock-master = <&dp1_link_cpu>;
		dp1_link_codec: codec {
			sound-dai = <&dp1>;
		};
	};
};
